<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Running Totals</key>
	<dict>
		<key>Treble</key>
		<dict>
			<key>G</key>
			<dict>
				<key>name</key>
				<string>G</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>F</key>
			<dict>
				<key>name</key>
				<string>F</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>E</key>
			<dict>
				<key>name</key>
				<string>E</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>D</key>
			<dict>
				<key>name</key>
				<string>D</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>C</key>
			<dict>
				<key>name</key>
				<string>C</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>name</key>
				<string>B</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>A</key>
			<dict>
				<key>name</key>
				<string>A</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>total</key>
			<dict>
				<key>name</key>
				<string>total</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Bass</key>
		<dict>
			<key>G</key>
			<dict>
				<key>name</key>
				<string>G</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>F</key>
			<dict>
				<key>name</key>
				<string>F</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>E</key>
			<dict>
				<key>name</key>
				<string>E</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>D</key>
			<dict>
				<key>name</key>
				<string>D</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>C</key>
			<dict>
				<key>name</key>
				<string>C</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>B</key>
			<dict>
				<key>name</key>
				<string>B</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>A</key>
			<dict>
				<key>name</key>
				<string>A</string>
				<key>total</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>percent</key>
				<integer>0</integer>
			</dict>
			<key>total</key>
			<dict>
				<key>percent</key>
				<integer>0</integer>
				<key>correct</key>
				<integer>0</integer>
				<key>total</key>
				<integer>0</integer>
				<key>name</key>
				<string>total</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
